main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 40% 0 40%;
}

.controls {
    display: flex;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    gap: 4px;
}

